@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  /* outline: 1px solid #f00 !important; */
  font-family: "Poppins", "Helvetica Neue", sans-serif
}

.App {
  background-image: url("https://images3.alphacoders.com/949/949023.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding: 20px 0;
}

.app-container {
  width: 100%;
  padding: 0 8.75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dataList {
  width: 950px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.88);
  border-radius: 8px;
  margin: 30px;
}


.table {
  color: #ddd;
}
.table .thead-light th {
  color: #ddd;
  background-color: transparent;
}

.searchBar {
  background-color: rgba(0,0,0,0.88);
  border-radius: 8px;
  margin: 10px auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  color: white;
  width: 80.75%;
}

.two {
  border-radius: 0 0.25rem 0.25rem 0;
}

.one {
  border-radius: 0;
}

.customInput {
  width: 120px;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 1rem;
}

tbody tr {
  transition: all .4s ease-in-out;
}

.table-hover tbody tr:hover {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  color: white;
}

.statisticCard:hover, .test-wrapper:hover, .detail-wrapper:hover {
  background-color: #29323c;
  color: white;
}
tr td {
  border: none !important;
}

.searchBarTitle{
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #29323c;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.submitFilter {
  margin-left: 100px;
}

.filterWrapper {
  display: flex;
}

.data-wrapper {
  display: flex;
}

.statisticWrapper {
  display: flex;
  gap: 30px;
  text-align: center;
  color: white;
  margin: 30px auto;
}

.statisticWrapper div {
  background-color: rgba(0,0,0,0.88);
  border-radius: 8px;
  padding: 30px 8px;
}

.test-wrapper {
  text-align: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.88);
  border-radius: 12px;
  margin: 30px auto;
  color: white;
}

.detail-wrapper {
  text-align: center;
  width: 30%;
  padding: 30px;
  background-color: rgba(0,0,0, 0.88);
  border-radius: 12px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  color: white;
}

.detail-wrapper img {
  width: 150px;
}

.detail-wrapper h3 {
  font-size: 1.45em;
}
.test-wrapper p {
  color:rgba(45, 54, 65, 0.75)
}
